<!doctype html>
<html>
<head>
    <title>movietime</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="style.css">
</head>
<body class="index-page">
<div class="container">

    <div class="jumbotron text-center">
        <div class = "logo-container">
            <img src="img/logo-movietime.png" alt="movietime logo">
        </div>
        <div class = "logo-container">
            <img src="img/logotype-movietime.png" alt="movietime logotype">
        </div>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>

    </div>

</div>
</body>
</html>
